@import "reset";
@import "fontawesome";
@import "variables";

%clearfix {
	&::before, &::after {
		content: "";
		display: block;
		clear: both;
	}
}

/* sass goes here */

// HEADER styles start
.floats {
	.utilnav {
		@extend %clearfix;
		h1 {
			float: left;
		}
		ul {
			float: right;
		}
		li {
			display: inline-block;
		}
	}
	nav {
		li {
			display: inline-block;
		}
	}
	.cta {
		text-align: center;
	}
}
// HEADER styles end