main {
	background-image: url("../img/mtNrf7oxS4uSxTzMBWfQ_DSC_0043.jpg");
	filter: blur(5px);
	height: 500px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: white;
	text-align: center;
	padding: 40px;
	header {
		float: right;
		display: inline-block;
	}
	h1{
		font-size: 350%;
	}
	p {
		font-size: 200%;
	}
	a {
		color: gray;
		padding: 10px;
		font-size: 150%;
	}
}
main > a {
	color: white;
}


