main {
	position: relative;
	margin: 0 auto;
	width: 500px;

}
h2 {
	color:hsl(0, 100%, 35%);
	background-color: white;
	position: absolute;
	display: inline-block;
	top: 5%;
	padding: 5px;
	left: 115px;
	margin: 0 auto;


	/*height: 40px;
	width: 160px;*/

}
.mar {
	position: absolute;
	top: 55%;
	font-size: 450%;
	left: 95px;
	margin: 0 auto
}
.acig {
	position: absolute;
	top: 90%;
	font-size: 120%;
	left: 140px;
	margin: 0 auto;
}

.box {
	width: 400px; 
	height: 311px; 
	background-color: hsl(0, 100%, 35%);
	position: relative;
	margin: 0 auto;

}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	top: 18%;
	border-bottom: 200px solid hsl(0, 100%, 97%);
	position: absolute;
	margin: 0 auto;
	left:  10%;
}
.wbox {
	width: 400px;
	height: 300px;
	background-color: hsl(0, 100%, 97%);
	border-bottom: 10px solid red;
	/*border-color: red;*/
	margin: 0 auto;

}

img {
	height: 120px;
	width: 105px;
	position: absolute;
	top: 28%;
	left: 39%;
	margin: auto;

}







/*h1 {
	margin: 0 auto;
	top: 50%;
}*/





/* <!--  to make a special font -->
		put any name font after family*/

/*p {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
*/


/*<!-- #triangle-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
} */