
html {
	height: 100%;
}

body {
	display: flex;
	align-items: flex-start;
	height: 100%;
	position: relative;
	margin-bottom: 0;
}
button {
	display: block;
	margin: 10px;
	padding: 10px 30px;
	color: blue;
	background-color: darkgray;
	border: 1px solid purple;
	cursor: pointer;
	outline: none;
	&:hover {
		color: orange;
		background-color: red;
		border-color: green;
	}
}
div#bg-img {
	position: absolute;
	top: 0;right: 0;bottom: 0;left: 0;
	z-index: -1;
	background: {
		size: cover;
		position: center;
	}
}

$bgs: stark targaryen arryn baratheon lannister martell tully tyrell;
@each $bg in $bgs {
	$i: index($bgs, $bg);
	div.img-#{$i}{
		background-image: url('../img/house-#{$bg}.jpg');
	}
}