body {
  background-image: url("../img/356128.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.infi {
  height: 200px;
  background-image: url("../img/scorpio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-margin: 0 auto;
}
.infi .pg2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5px;
  color: black;
  font-size: 100%;
  text-decoration: none;
}
.infi .pg2 a {
  padding: 10px;
  color: black;
}

h1 {
  text-align: center;
  font-size: 250%;
  margin: 0 auto;
}
