header {
  width: cover;
  height: 150px;
  background-image: url("../img/6887296-fantasy-background-images.jpg");
  background-width: 100%;
  background-height: 150px;
  background-position: center;
}

.navbar-default {
  background-color: pink;
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 200%;
  padding-bottom: 15px;
  padding-top: 10px;
}

.body {
  padding-left: 10px;
}

i {
  padding: 20px;
}
