svg {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Graph-paper.svg/400px-Graph-paper.svg.png);
	margin: 30px;
}
/*.yellow {
	fill: yellow;
	stroke-width: 12;
	stroke: #ff7900;
}*/


/*https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Graph-paper.svg/400px-Graph-paper.svg.png*/